In [1]:
import pandas as pd
import numpy as np
from glob import glob
import os

In [2]:
paths_t = glob('C:\\Users\\jlandman\\Desktop\\newData\\CH_Huss-Fischer\\GlaThiDa2.0_UFR\\results\\*_T.dat')

In [4]:
for path_t in paths_t:
    t_dat = pd.read_csv(path_t, header=None, sep=': ')
    #tt_path = os.path.join(os.path.dirname(path_t),os.path.split(path_t)[1].split('.')[0]+'T.dat')
    #tt_dat = pd.read_csv(tt_path, header=None, sep='; ')
    ttt_path = os.path.join(os.path.dirname(path_t),os.path.split(path_t)[1].split('.')[0]+'TT.dat')
    ttt_dat = pd.read_csv(ttt_path, header=None, delim_whitespace=True)
    print(ttt_dat.columns.values)
    excel = pd.DataFrame([], [0])
    excel.loc[excel.index==0, 'POLITICAL_UNIT'] = 'CH'
    excel.loc[excel.index==0, 'GLACIER_NAME'] = t_dat[t_dat[0] == 'Glacier name'][1].iloc[0].upper()
    excel.loc[excel.index==0, 'SOURCE_ID'] = np.nan
    excel.loc[excel.index==0, 'GLACIER_ID'] = np.nan
    excel.loc[excel.index==0, 'LAT'] = t_dat[t_dat[0] == 'lat'][1].iloc[0]
    excel.loc[excel.index==0, 'LON'] = t_dat[t_dat[0] == 'lon'][1].iloc[0]
    excel.loc[excel.index==0, 'SURVEY_DATE'] = t_dat[t_dat[0] == 'Survey Date'][1].iloc[0]
    excel.loc[excel.index==0, 'DEM_DATE'] = t_dat[t_dat[0] == 'DEM Date'][1].iloc[0]
    excel.loc[excel.index==0, 'AREA'] = t_dat[t_dat[0] == 'Area'][1].iloc[0]
    excel.loc[excel.index==0, 'MEAN_SLOPE'] = t_dat[t_dat[0] == 'Mean slope'][1].iloc[0]
    excel.loc[excel.index==0, 'MEAN_THICKNESS'] = t_dat[t_dat[0] == 'Mean thickness'][1].iloc[0]
    excel.loc[excel.index==0, 'MEAN_THICKNESS_UNCERTAINTY'] = t_dat[t_dat[0] == 'Mean thickness uncertainty'][1].iloc[0]
    excel.loc[excel.index==0, 'MAXIMUM_THICKNESS'] = t_dat[t_dat[0] == 'Max thickness'][1].iloc[0]
    excel.loc[excel.index==0, 'MAX_THICKNESS_UNCERTAINTY'] = t_dat[t_dat[0] == 'Max thickness uncertainty'][1].iloc[0]
    excel.loc[excel.index==0, 'SURVEY_METHOD'] = t_dat[t_dat[0] == 'Method'][1].iloc[0]
    excel.loc[excel.index==0, 'SURVEY_METHOD_DETAILS'] = t_dat[t_dat[0] == 'Method details'][1].iloc[0]
    excel.loc[excel.index==0, 'NUMBER_OF_SURVEY_POINTS']= t_dat[t_dat[0] == 'Survey points'][1].iloc[0]
    excel.loc[excel.index==0, 'NUMBER_OF_SURVEY_PROFILES'] = np.nan
    excel.loc[excel.index==0, 'TOTAL_LENGTH_OF_SURVEY_PROFILES'] = np.nan
    excel.loc[excel.index==0, 'INTERPOLATION_METHOD'] = ''
    excel.loc[excel.index==0, 'INVESTIGATOR'] = t_dat[t_dat[0] == 'Investigator'][1].iloc[0]
    excel.loc[excel.index==0, 'SPONSORING_AGENCY'] = t_dat[t_dat[0] == 'Sponsor'][1].iloc[0]
    excel.loc[excel.index==0, 'REFERENCES'] = t_dat[t_dat[0] == 'Reference'][1].iloc[0]
    excel.loc[excel.index==0, 'DATA_FLAG'] = np.nan
    excel.loc[excel.index==0, 'REMARKS'] = ''
    
    excel_ttt = pd.DataFrame([], range(len(ttt_dat)))
    print(ttt_path, len(excel_ttt), excel_ttt)
    for k, row in excel_ttt.iterrows():
        excel_ttt.loc[excel_ttt.index==k, 'POLITICAL_UNIT'] = 'CH'
        excel_ttt.loc[excel_ttt.index==k, 'GLACIER_NAME'] = t_dat[t_dat[0] == 'Glacier name'][1].iloc[0].upper()
        excel_ttt.loc[excel_ttt.index==k, 'SURVEY_DATE'] = t_dat[t_dat[0] == 'Survey Date'][1].iloc[0]
        excel_ttt.loc[excel_ttt.index==k, 'POINT_ID'] = ttt_dat[ttt_dat.index==k][0].iloc[0]
        excel_ttt.loc[excel_ttt.index==k, 'POINT_LAT'] = ttt_dat[ttt_dat.index==k][2].iloc[0]
        excel_ttt.loc[excel_ttt.index==k, 'POINT_LON'] = ttt_dat[ttt_dat.index==k][1].iloc[0]
        excel_ttt.loc[excel_ttt.index==k, 'ELEVATION'] = round(ttt_dat[ttt_dat.index==k][3].iloc[0])
        excel_ttt.loc[excel_ttt.index==k, 'THICKNESS'] = round(ttt_dat[ttt_dat.index==k][4].iloc[0],1)
        
        excel_ttt.loc[excel_ttt.index==k, 'THICKNESS_UNCERTAINTY'] = np.nan
        excel_ttt.loc[excel_ttt.index==k, 'DATA_FLAG'] = np.nan
        excel_ttt.loc[excel_ttt.index==k, 'REMARKS'] = ''
    
    excel.to_excel(path_t[:-4]+'.xlsx', index=False)
    excel_ttt.to_excel(ttt_path[:-4]+'.xlsx', index=False)

C:\Users\jlandman\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\blauschnee_TTT.dat 1747 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1747 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\corvatsch_TTT.dat 5007 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[5007 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\gurschen_TTT.dat 2014 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2014 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\murtel_TTT.dat 2753 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2753 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\mutt_TTT.dat 2266 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2266 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\planneve_TTT.dat 995 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[995 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\sardona_TTT.dat 1263 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1263 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\Schwarzbach_TTT.dat 1356 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1356 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\segnas_TTT.dat 3238 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3238 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\SexRouge_TTT.dat 3250 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3250 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\Stanna_TTT.dat 2754 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2754 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\tortin_TTT.dat 6227 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[6227 rows x 0 columns]
[0 1 2 3 4]
C:\Users\jlandman\Desktop\newData\CH_Huss-Fischer\GlaThiDa2.0_UFR\results\tsanfleuron_TTT.dat 6299 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[6299 rows x 0 columns]

ValueError: Expected 2 fields in line 17, saw 3

# Make empty DataSubmission DataFrames here

# Fill them

# Export to Excel